DB_DRIVER=postgres
DB_SOURCE=postgres://postgres:123456@127.0.0.1:5432/postgres?sslmode=disable&timezone=Asia/Shanghai
SERVER_ADDRESS=0.0.0.0:3000
ALLOWED_ORIGINS=http://localhost:5173,https://myproject.com
TOKEN_SYMMETRIC_KEY=12345678901234567890123456789012
ACCESS_TOKEN_DURATION=30m
DEFAULT_LOCALE=zh
DEBUG=true